 {{> header}}



 {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>Repositorio para assets</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi totam quod fugit, 
                repudiandae quia vitae, sint, 
                repellendus distinctio laborum aspernatur perferendis necessitatibus explicabo. 
                Praesentium aspernatur error blanditiis, sint culpa atque?</p>

        </div>
        <div class="col-4">
            <img src="./assets/img/GitHub.png" alt="" class="img-thumbnail">
        </div>
    </div>
 
 {{> footer}}

